# SPDX-FileCopyrightText: 2024 Binsparse Developers
#
# SPDX-License-Identifier: BSD-3-Clause

scripts
venv
build-*/
compile_flags.txt
._*
tensor_test_files

# MATLAB/Octave MEX files
*.mex
*.mexa64
*.mexw32
*.mexw64
*.mexmaci64
